---
import Social from "../data/social.json";
import { getAbout } from "../cms/get-about";
import Main from "../layouts/Main.astro";
import i18next, { t, changeLanguage } from "i18next";
import AboutParagraph from "../components/molecules/AboutParagraph.astro";
import Anro from "../components/atoms/Anro.astro";
import Mail from "../components/atoms/Mail.astro";
import Instagram from "../components/atoms/Instagram.astro";
import LinkedIn from "../components/atoms/LinkedIn.astro";

changeLanguage("fr");

const { data } = await getAbout({ lang: i18next.language });
---

<Main meta={{title: t('about') + ' // ANRÓ Magazine'}}>
    <div class="px-2 lg:px-8">
        <section class="bg-black text-white text-3xl lg:text-8xl font-asset flex items-center justify-center py-20 mb-12 lg:mb-20 px-4">
       
            anró
        </section>
        {data.attributes.content.map(line=><AboutParagraph title={line.title} content={line.content}/>)}
        <div class=" max-w-5xl grid lg:grid-cols-4 w-full mx-auto mb-12 lg:mb-20">
            <div class=" text-4xl font-mango">
                Contact
            </div>
      
                <ul class="col-span-3 flex">
                    <li>
                        <a class="p-2 flex hover:bg-gray-200 rounded-md transition" href={"mailto:" + Social.mail}>
                            <Mail/>
                        </a>
                    </li>
                    <li>
                        <a class="p-2 flex hover:bg-gray-200 rounded-md transition" href={Social.instagram}>
                            <Instagram/>
                        </a>
                    </li>
                    <li>
                        <a class="p-2 flex hover:bg-gray-200 rounded-md transition" href={Social.linkedin}>
                            <LinkedIn/>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</Main>