---
import { getAbout } from "../cms/get-about";
import Main from "../layouts/Main.astro";
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import AboutParagraph from "../components/molecules/AboutParagraph.astro";

changeLanguage("fr");

const { data } = await getAbout({ lang: i18next.language });
---

<Main>
    {data.attributes.content.map(line=><AboutParagraph title={line.title} content={line.content}/>)}
</Main>