---
import { getCategories } from "../../cms/get-categories";
import Anro from "../atoms/Anro.astro";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import LangPicker from "../atoms/LangPicker.astro";
const { data } = await getCategories({ lang: i18next.language });

---

<header class="flex items-center justify-between px-2 lg:px-8 w-full mx-auto my-10">
    <div class="lg:hidden z-30">
        <button id="toggle-nav" class="hamburger hamburger--arrow " type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </div>
      
    <a class="" title={t('navigation.back-to-home')} href={localizePath('/')}>
       <span class="lg:hidden"> <Anro width="161" height="27"/></span>
       <span class="hidden lg:block"> <Anro /></span>
    </a>
    <nav id="main-nav" class="font-poppins h-screen font-medium w-screen fixed lg:h-auto px-4 lg:px-0 lg:w-auto transition top-0 z-20 bg-white left-0 -translate-x-[500vw] lg:translate-x-0 lg:static">
        <ul class="flex flex-col lg:flex-row h-full lg:h-auto gap-4 lg:gap-16 justify-center lg:items-center">
            <li>
                <a class="text-2xl lg:text-base hover:underline" href={localizePath('/')}>{t("navigation.homepage")}</a>
            </li>
            <li class="relative">
                <button id="hamburger-button" class="flex hover:underline items-center">
                    <span class="text-2xl lg:text-base">{t("navigation.categories")}</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="hidden lg:block transition"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#2c3e50"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path>
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </button>
                <ul
                    id="dropdown"
                    class="bg-white w-full lg:shadow-md lg:border z-20 lg:border-black p-2 lg:hidden mt-2 lg:opacity-0 transition lg:absolute lg:left-1/2 lg:-translate-x-1/2"
                >
                    {
                        data.map((link) => 
                            <li>
                                <a class="hover:underline inline-block py-1 lg:py-0 text-2xl lg:text-base" href={localizePath('/topic/'+link.attributes.slug )}>
                                    {link.attributes.title}
                                </a>
                            </li>
                        )
                    }
                </ul>
            </li>
            <li>
                <a class=" hover:underline text-2xl lg:text-base" href={localizePath('/a-propos')}>{t("navigation.about")}</a>
            </li>
        </ul>
    </nav>
    <div class="">
        <LangPicker currentLang={i18next.language} languages={i18next.languages}/>
    </div>
</header>
